TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
RAPIDAPI_KEY=YOUR_RAPIDAPI_KEY
STORAGE_CHANNEL_ID=-100XXXXXXXXXX # Your Telegram channel ID for storing music (e.g., -1001234567890)
ADMIN_ID=YOUR_TELEGRAM_ADMIN_ID # Your Telegram user ID
